In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Data/train.csv")

In [5]:
df

,id,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
0,0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0,1
1,1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0,0
2,2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0,0
3,3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0,0
4,4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0,0
83,83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0,0
84,84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0,1
85,85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0,1
86,86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0,1

In [6]:
df.describe

<bound method NDFrame.describe of     id  MO HLADR+ MFI (cells/ul)  Neu CD64+MFI (cells/ul)  CD3+T (cells/ul)  \
0    0                    3556.0                   2489.0            265.19
1    1                    1906.0                    134.0           1442.61
2    2                    1586.0                     71.0           1332.74
3    3                     683.0                     94.0            419.23
4    4                    1032.0                     71.0           1102.72
..  ..                       ...                      ...               ...
82  82                     626.0                     68.0           1771.57
83  83                    1237.0                     71.0           1348.53
84  84                     634.0                   1002.0           1300.00
85  85                     112.0                    884.0            942.83
86  86                     195.0                    213.0            724.00

    CD8+T (cells/ul)  CD4+T (cells/ul)  NK (cells/ul)  CD19+ (cells/ul)  \
0              77.53            176.55           0.00              4.20
1             551.90            876.07         112.10            168.15
2             684.20            655.26         244.95            216.52
3             255.80            162.17          72.05             44.68
4             480.27            625.30         188.78            130.77
..               ...               ...            ...               ...
82            666.99           1117.48         360.21            118.84
83            428.09            924.69         120.02             48.67
84            558.00            724.00          67.00            105.00
85            378.49            567.06         116.77             31.81
86            364.00            361.00          18.00            155.00

    CD45+ (cells/ul)  Age  Sex 0M1F  Mono CD64+MFI (cells/ul)  label
0             307.91   52         0                    7515.0      1
1            1735.48   20         1                    1756.0      0
2            1820.04   28         1                    1311.0      0
3             538.22   55         1                    1443.0      0
4            1427.97   28         1                    1542.0      0
..               ...  ...       ...                       ...    ...
82           2306.82   42         1                    1521.0      0
83           1524.78   56         0                    1345.0      0
84           1484.26   34         0                    2926.0      1
85           1104.59   33         1                    2352.0      1
86            897.00   19         1                    2445.0      1

[87 rows x 13 columns]>