In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score

In [4]:
df = pd.read_csv("Data/train.csv")

In [5]:
df

,id,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
0,0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0,1
1,1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0,0
2,2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0,0
3,3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0,0
4,4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0,0
83,83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0,0
84,84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0,1
85,85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0,1
86,86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0,1

In [7]:
df.describe()

,id,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
count,87.000000,86.000000,86.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,86.000000,87.000000
mean,43.000000,1264.244186,290.383721,982.570115,479.340920,494.904023,212.732874,118.780920,1325.096437,40.218391,0.482759,2066.534884,0.333333
std,25.258662,765.452376,490.283499,617.332545,344.326452,311.836604,173.553264,96.218344,791.602538,10.461919,0.502599,1198.401364,0.474137
min,0.000000,112.000000,30.000000,74.400000,36.610000,39.590000,0.000000,4.200000,209.250000,19.000000,0.000000,72.000000,0.000000
25%,21.500000,685.500000,77.500000,549.390000,237.920000,272.745000,78.815000,52.425000,780.615000,33.000000,0.000000,1461.250000,0.000000
50%,43.000000,1108.500000,124.500000,871.710000,423.270000,459.720000,188.780000,89.790000,1179.270000,41.000000,0.000000,1757.500000,0.000000
75%,64.500000,1602.250000,244.500000,1268.085000,624.450000,624.360000,262.845000,155.450000,1617.725000,49.500000,1.000000,2238.250000,1.000000
max,86.000000,4145.000000,3124.000000,3791.230000,2548.100000,1517.810000,878.040000,485.860000,4757.280000,60.000000,1.000000,7515.000000,1.000000

In [8]:
df.set_index('id', inplace=True)

In [9]:
df

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
id,,,,,,,,,,,,
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0,1
1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0,0
2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0,0
3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0,0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0,0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0,0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0,1
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0,1
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0,1

In [10]:
df.tail(10)

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul),label
id,,,,,,,,,,,,
77,1202.0,258.0,563.25,288.73,277.59,306.77,81.40,962.17,43,0,2027.0,0
78,523.0,228.0,669.71,339.20,330.12,153.61,108.99,937.83,41,0,1759.0,0
79,662.0,127.0,552.16,219.15,292.96,58.36,59.22,671.75,51,1,1350.0,1
80,1919.0,105.0,1187.33,675.03,477.04,225.83,100.23,1546.19,26,0,2601.0,0
81,2083.0,95.0,890.44,403.58,434.51,97.56,193.22,1181.70,41,1,1908.0,0
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0,0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0,0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0,1
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0,1
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0,1

In [11]:
df.isnull().sum()

MO HLADR+ MFI (cells/ul)    1
Neu CD64+MFI (cells/ul)     1
CD3+T (cells/ul)            0
CD8+T (cells/ul)            0
CD4+T (cells/ul)            0
NK (cells/ul)               0
CD19+ (cells/ul)            0
CD45+ (cells/ul)            0
Age                         0
Sex 0M1F                    0
Mono CD64+MFI (cells/ul)    1
label                       0
dtype: int64

In [12]:
df = df.dropna()

In [13]:
df.isnull().sum()

MO HLADR+ MFI (cells/ul)    0
Neu CD64+MFI (cells/ul)     0
CD3+T (cells/ul)            0
CD8+T (cells/ul)            0
CD4+T (cells/ul)            0
NK (cells/ul)               0
CD19+ (cells/ul)            0
CD45+ (cells/ul)            0
Age                         0
Sex 0M1F                    0
Mono CD64+MFI (cells/ul)    0
label                       0
dtype: int64

In [15]:
# seprate labels and features
labels = np.array(df['label'])

In [29]:
labels

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1],
      dtype=int64)

In [16]:
df = df.drop('label',axis = 1)

In [60]:
df

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
id,,,,,,,,,,,
0,3556.0,2489.0,265.19,77.53,176.55,0.00,4.20,307.91,52,0,7515.0
1,1906.0,134.0,1442.61,551.90,876.07,112.10,168.15,1735.48,20,1,1756.0
2,1586.0,71.0,1332.74,684.20,655.26,244.95,216.52,1820.04,28,1,1311.0
3,683.0,94.0,419.23,255.80,162.17,72.05,44.68,538.22,55,1,1443.0
4,1032.0,71.0,1102.72,480.27,625.30,188.78,130.77,1427.97,28,1,1542.0
...,...,...,...,...,...,...,...,...,...,...,...
82,626.0,68.0,1771.57,666.99,1117.48,360.21,118.84,2306.82,42,1,1521.0
83,1237.0,71.0,1348.53,428.09,924.69,120.02,48.67,1524.78,56,0,1345.0
84,634.0,1002.0,1300.00,558.00,724.00,67.00,105.00,1484.26,34,0,2926.0
85,112.0,884.0,942.83,378.49,567.06,116.77,31.81,1104.59,33,1,2352.0
86,195.0,213.0,724.00,364.00,361.00,18.00,155.00,897.00,19,1,2445.0

In [17]:
feature_list = list(df.columns)

In [18]:
features = np.array(df)

In [59]:
features

array([[3.55600e+03, 2.48900e+03, 2.65190e+02, 7.75300e+01, 1.76550e+02,
        0.00000e+00, 4.20000e+00, 3.07910e+02, 5.20000e+01, 0.00000e+00,
        7.51500e+03],
       [1.90600e+03, 1.34000e+02, 1.44261e+03, 5.51900e+02, 8.76070e+02,
        1.12100e+02, 1.68150e+02, 1.73548e+03, 2.00000e+01, 1.00000e+00,
        1.75600e+03],
       [1.58600e+03, 7.10000e+01, 1.33274e+03, 6.84200e+02, 6.55260e+02,
        2.44950e+02, 2.16520e+02, 1.82004e+03, 2.80000e+01, 1.00000e+00,
        1.31100e+03],
       [6.83000e+02, 9.40000e+01, 4.19230e+02, 2.55800e+02, 1.62170e+02,
        7.20500e+01, 4.46800e+01, 5.38220e+02, 5.50000e+01, 1.00000e+00,
        1.44300e+03],
       [1.03200e+03, 7.10000e+01, 1.10272e+03, 4.80270e+02, 6.25300e+02,
        1.88780e+02, 1.30770e+02, 1.42797e+03, 2.80000e+01, 1.00000e+00,
        1.54200e+03],
       [4.95000e+02, 1.43000e+02, 1.71932e+03, 8.85940e+02, 8.42940e+02,
        2.71420e+02, 1.19460e+02, 2.14366e+03, 4.20000e+01, 1.00000e+00,
        1.82700e+03],
       [1.51700e+03, 7.60000e+01, 8.13730e+02, 5.41230e+02, 2.76280e+02,
        2.58810e+02, 8.28100e+01, 1.17927e+03, 4.20000e+01, 0.00000e+00,
        1.78400e+03],
       [2.62300e+03, 1.26000e+02, 6.42980e+02, 3.29660e+02, 3.16590e+02,
        1.67890e+02, 8.53800e+01, 8.99510e+02, 4.10000e+01, 0.00000e+00,
        1.62000e+03],
       [2.31800e+03, 1.50000e+02, 2.67919e+03, 1.12076e+03, 1.41544e+03,
        2.85990e+02, 3.42020e+02, 3.34778e+03, 2.10000e+01, 1.00000e+00,
        1.64200e+03],
       [1.41200e+03, 2.43000e+02, 1.17719e+03, 6.84420e+02, 4.90500e+02,
        1.85300e+02, 6.72200e+01, 1.44106e+03, 3.60000e+01, 1.00000e+00,
        1.21300e+03],
       [2.19900e+03, 3.12400e+03, 5.11570e+02, 1.82650e+02, 3.31330e+02,
        7.62100e+01, 7.32700e+01, 6.65870e+02, 5.10000e+01, 1.00000e+00,
        4.66800e+03],
       [1.10000e+03, 1.09000e+02, 1.05161e+03, 4.58990e+02, 6.04240e+02,
        8.78040e+02, 1.03850e+02, 2.04150e+03, 5.20000e+01, 0.00000e+00,
        1.75500e+03],
       [4.14500e+03, 1.81000e+02, 8.71710e+02, 3.32150e+02, 5.29290e+02,
        2.80300e+02, 1.11920e+02, 1.26804e+03, 5.50000e+01, 0.00000e+00,
        3.28500e+03],
       [2.36800e+03, 1.19000e+02, 1.35336e+03, 8.41830e+02, 5.31450e+02,
        1.18880e+02, 7.19700e+01, 1.54743e+03, 4.50000e+01, 1.00000e+00,
        2.58700e+03],
       [6.32000e+02, 3.64000e+02, 7.09520e+02, 2.17370e+02, 4.78150e+02,
        2.52000e+01, 4.69000e+01, 7.84230e+02, 3.90000e+01, 0.00000e+00,
        1.00500e+03],
       [1.61400e+03, 4.40000e+01, 1.68495e+03, 1.06409e+03, 6.23420e+02,
        3.23670e+02, 1.10170e+02, 2.15038e+03, 3.10000e+01, 1.00000e+00,
        1.92400e+03],
       [1.04500e+03, 1.24000e+02, 1.17907e+03, 5.22490e+02, 6.61780e+02,
        2.10960e+02, 9.36300e+01, 1.49811e+03, 4.90000e+01, 1.00000e+00,
        2.07500e+03],
       [7.51000e+02, 1.47000e+02, 9.80730e+02, 4.18430e+02, 5.58830e+02,
        2.80800e+02, 1.29280e+02, 1.40025e+03, 2.70000e+01, 0.00000e+00,
        8.14000e+02],
       [2.50600e+03, 1.98000e+02, 1.86546e+03, 7.92760e+02, 1.09675e+03,
        2.71730e+02, 1.66750e+02, 2.32909e+03, 2.00000e+01, 1.00000e+00,
        2.09600e+03],
       [4.03000e+02, 5.55000e+02, 3.13480e+02, 1.31530e+02, 1.82690e+02,
        4.66800e+01, 7.90000e+00, 3.70300e+02, 4.00000e+01, 0.00000e+00,
        2.20900e+03],
       [1.60700e+03, 3.66000e+02, 5.21650e+02, 1.29560e+02, 3.90630e+02,
        4.80000e+01, 4.09000e+01, 6.13490e+02, 3.70000e+01, 0.00000e+00,
        4.14900e+03],
       [4.94000e+02, 2.01000e+02, 4.76640e+02, 2.35840e+02, 2.44350e+02,
        7.25500e+01, 2.45800e+01, 5.78960e+02, 3.40000e+01, 1.00000e+00,
        2.39200e+03],
       [8.60000e+02, 3.00000e+01, 7.82020e+02, 3.62710e+02, 3.65660e+02,
        3.18910e+02, 1.10730e+02, 1.21560e+03, 4.10000e+01, 1.00000e+00,
        7.27000e+02],
       [4.42000e+02, 3.60000e+02, 4.78000e+02, 2.40000e+02, 2.38000e+02,
        9.70000e+01, 2.02000e+02, 7.77000e+02, 3.00000e+01, 0.00000e+00,
        5.72000e+02],
       [8.73000e+02, 7.70000e+01, 1.07860e+03, 5.78660e+02, 4.99930e+02,
        1.94200e+02, 2.53250e+02, 1.57328e+03, 4.90000e+01, 1.00000e+00,
        1.59100e+03],
       [5.37000e+02, 1.75000e+02, 2.18130e+02, 1.22430e+02, 9.69300e+01,
        4.45700e+01, 5.19400e+01, 3.15290e+02, 5.00000e+01, 0.00000e+00,
        3.54500e+03],
       [2.08800e+03, 9.80000e+01, 9.62300e+02, 5.33030e+02, 4.59720e+02,
        3.70880e+02, 1.42890e+02, 1.47731e+03, 5.10000e+01, 1.00000e+00,
        1.59900e+03],
       [2.38500e+03, 1.38000e+02, 6.92170e+02, 1.55060e+02, 5.42250e+02,
        2.54080e+02, 2.12040e+02, 1.16062e+03, 5.10000e+01, 1.00000e+00,
        1.29000e+03],
       [1.24700e+03, 1.08000e+02, 1.68743e+03, 6.12790e+02, 1.07723e+03,
        2.66880e+02, 2.48090e+02, 2.20564e+03, 3.70000e+01, 1.00000e+00,
        1.67300e+03],
       [2.39000e+02, 1.33000e+03, 7.44000e+01, 3.66100e+01, 3.95900e+01,
        8.64100e+01, 4.15400e+01, 2.09250e+02, 2.50000e+01, 1.00000e+00,
        2.24800e+03],
       [1.18800e+03, 8.20000e+01, 1.10899e+03, 6.23490e+02, 4.83600e+02,
        2.17110e+02, 2.13320e+02, 1.54702e+03, 4.90000e+01, 1.00000e+00,
        1.94700e+03],
       [1.03500e+03, 8.70000e+01, 2.81730e+02, 1.24410e+02, 1.59520e+02,
        6.91300e+01, 4.14200e+01, 3.94640e+02, 4.10000e+01, 0.00000e+00,
        1.65100e+03],
       [1.58800e+03, 9.20000e+01, 1.44263e+03, 6.06070e+02, 8.40820e+02,
        3.25800e+02, 4.85860e+02, 2.28203e+03, 3.50000e+01, 0.00000e+00,
        1.36500e+03],
       [1.11700e+03, 3.36000e+02, 4.09140e+02, 2.06740e+02, 2.09220e+02,
        3.78700e+01, 2.73200e+01, 4.75570e+02, 4.40000e+01, 1.00000e+00,
        3.19000e+03],
       [8.21000e+02, 1.34000e+02, 1.13474e+03, 7.41000e+02, 4.01000e+02,
        4.59720e+02, 2.38700e+01, 1.61977e+03, 4.10000e+01, 1.00000e+00,
        1.89300e+03],
       [6.93000e+02, 2.45000e+02, 2.66480e+02, 1.03610e+02, 1.64110e+02,
        1.47950e+02, 8.70300e+01, 5.04150e+02, 4.90000e+01, 0.00000e+00,
        2.17500e+03],
       [1.43600e+03, 7.60000e+01, 8.13730e+02, 5.41230e+02, 2.76280e+02,
        2.58810e+02, 8.21800e+01, 1.17927e+03, 4.20000e+01, 0.00000e+00,
        1.79400e+03],
       [6.20000e+02, 4.72000e+02, 2.50430e+02, 1.50390e+02, 6.86600e+01,
        6.40800e+01, 1.25110e+02, 4.39840e+02, 3.70000e+01, 1.00000e+00,
        1.52700e+03],
       [1.01000e+03, 1.38400e+03, 5.70130e+02, 3.12900e+02, 2.33840e+02,
        8.01700e+01, 3.11800e+01, 7.02080e+02, 5.60000e+01, 1.00000e+00,
        5.50100e+03],
       [1.02400e+03, 1.80000e+02, 8.58480e+02, 6.73320e+02, 1.85610e+02,
        2.13960e+02, 5.00600e+01, 1.12959e+03, 4.70000e+01, 0.00000e+00,
        1.95300e+03],
       [2.22000e+02, 8.20000e+01, 1.06147e+03, 4.23270e+02, 6.38740e+02,
        2.46180e+02, 1.92450e+02, 1.51928e+03, 3.30000e+01, 0.00000e+00,
        1.68600e+03],
       [6.02000e+02, 9.80000e+01, 7.70620e+02, 4.99810e+02, 2.76710e+02,
        2.14920e+02, 7.63400e+01, 1.07142e+03, 4.90000e+01, 1.00000e+00,
        1.56600e+03],
       [1.67900e+03, 7.90000e+01, 4.83210e+02, 1.62000e+02, 3.09000e+02,
        2.27050e+02, 1.01090e+02, 8.17240e+02, 3.90000e+01, 0.00000e+00,
        4.48000e+03],
       [1.36500e+03, 6.70000e+01, 8.41880e+02, 5.76190e+02, 2.69210e+02,
        1.74350e+02, 6.28000e+01, 1.08211e+03, 2.90000e+01, 1.00000e+00,
        1.83000e+03],
       [1.25200e+03, 4.70000e+01, 1.36568e+03, 6.25410e+02, 6.95110e+02,
        7.67770e+02, 6.28400e+01, 2.21592e+03, 5.20000e+01, 0.00000e+00,
        8.56000e+02],
       [1.89300e+03, 5.80000e+01, 1.18029e+03, 3.53750e+02, 8.36520e+02,
        5.14400e+02, 2.63860e+02, 1.96104e+03, 6.00000e+01, 0.00000e+00,
        1.55200e+03],
       [1.94700e+03, 1.12000e+02, 4.28970e+02, 2.08070e+02, 2.14660e+02,
        3.28410e+02, 7.69900e+01, 8.37140e+02, 5.10000e+01, 1.00000e+00,
        2.98200e+03],
       [2.77300e+03, 7.70000e+01, 3.93850e+02, 2.05350e+02, 1.84680e+02,
        6.67300e+01, 5.93100e+01, 5.21240e+02, 3.90000e+01, 1.00000e+00,
        2.18200e+03],
       [8.91000e+02, 5.00000e+02, 6.96230e+02, 3.37900e+02, 3.54700e+02,
        2.19810e+02, 4.17800e+01, 9.69640e+02, 3.20000e+01, 0.00000e+00,
        4.08900e+03],
       [4.21000e+02, 1.46000e+02, 7.88150e+02, 6.08570e+02, 1.86130e+02,
        1.27870e+02, 2.29110e+02, 1.16651e+03, 4.20000e+01, 0.00000e+00,
        1.51600e+03],
       [1.71000e+02, 5.70000e+01, 3.79123e+03, 2.54810e+03, 1.23694e+03,
        4.89830e+02, 4.11900e+02, 4.75728e+03, 2.70000e+01, 1.00000e+00,
        7.20000e+01],
       [1.35800e+03, 6.90000e+01, 1.11449e+03, 4.93710e+02, 6.19570e+02,
        2.23750e+02, 1.05790e+02, 1.52004e+03, 3.40000e+01, 0.00000e+00,
        1.61500e+03],
       [1.84900e+03, 6.10000e+01, 1.23755e+03, 4.83230e+02, 7.88770e+02,
        8.15060e+02, 2.45700e+02, 2.30828e+03, 6.00000e+01, 0.00000e+00,
        1.44300e+03],
       [1.55800e+03, 6.11000e+02, 3.59150e+02, 1.48650e+02, 1.91800e+02,
        2.06200e+01, 8.15200e+01, 4.67040e+02, 4.90000e+01, 1.00000e+00,
        2.18900e+03],
       [1.52600e+03, 5.15000e+02, 5.04210e+02, 1.93910e+02, 3.13460e+02,
        4.20400e+01, 2.38100e+01, 5.72730e+02, 5.00000e+01, 0.00000e+00,
        2.05800e+03],
       [1.05500e+03, 8.70000e+01, 9.13420e+02, 4.10520e+02, 5.07040e+02,
        7.74600e+01, 4.30800e+01, 1.04018e+03, 4.80000e+01, 0.00000e+00,
        1.72800e+03],
       [3.65000e+02, 2.48000e+02, 3.00750e+02, 1.95070e+02, 1.06580e+02,
        1.34200e+01, 5.29100e+01, 3.71300e+02, 4.10000e+01, 1.00000e+00,
        8.66000e+02],
       [8.67000e+02, 6.10000e+01, 1.44466e+03, 7.01690e+02, 7.58530e+02,
        5.90720e+02, 4.39800e+01, 2.09831e+03, 5.20000e+01, 0.00000e+00,
        1.14800e+03],
       [6.31000e+02, 1.82000e+02, 6.75100e+02, 2.80090e+02, 3.86570e+02,
        1.36000e+02, 5.62300e+01, 8.75410e+02, 2.90000e+01, 1.00000e+00,
        3.99000e+03],
       [1.03700e+03, 4.30000e+01, 1.05069e+03, 5.49200e+02, 4.88290e+02,
        1.85850e+02, 2.94100e+01, 1.26540e+03, 5.00000e+01, 0.00000e+00,
        1.56600e+03],
       [1.04700e+03, 7.60000e+01, 1.52916e+03, 6.64010e+02, 8.60330e+02,
        2.49250e+02, 1.55900e+02, 1.99974e+03, 3.40000e+01, 0.00000e+00,
        1.15400e+03],
       [1.23800e+03, 8.50000e+01, 1.46800e+03, 7.02000e+02, 6.13000e+02,
        6.04000e+02, 1.74000e+02, 2.24809e+03, 3.10000e+01, 0.00000e+00,
        1.69700e+03],
       [3.04000e+03, 1.82000e+02, 2.53040e+03, 1.03247e+03, 1.31898e+03,
        2.57340e+02, 3.99030e+02, 3.02344e+03, 2.00000e+01, 1.00000e+00,
        1.76300e+03],
       [1.19000e+03, 3.08000e+02, 4.35760e+02, 4.75000e+02, 3.37000e+02,
        2.00340e+02, 4.26900e+01, 6.89420e+02, 5.30000e+01, 0.00000e+00,
        2.58900e+03],
       [1.15600e+03, 3.10000e+01, 1.59659e+03, 7.31990e+02, 5.70520e+02,
        2.06390e+02, 1.35280e+02, 1.94521e+03, 3.30000e+01, 0.00000e+00,
        6.73000e+02],
       [7.31000e+02, 5.80000e+01, 7.23250e+02, 3.59710e+02, 3.66950e+02,
        1.93690e+02, 9.53500e+01, 1.01570e+03, 4.30000e+01, 0.00000e+00,
        1.04000e+03],
       [1.61800e+03, 1.25300e+03, 9.47100e+02, 3.55390e+02, 5.93510e+02,
        1.04630e+02, 7.71200e+01, 1.13110e+03, 3.50000e+01, 0.00000e+00,
        4.94600e+03],
       [2.23900e+03, 1.26000e+02, 7.19900e+02, 4.62770e+02, 2.59980e+02,
        1.42420e+02, 2.41500e+01, 8.95710e+02, 5.00000e+01, 0.00000e+00,
        2.33000e+03],
       [1.49500e+03, 1.25000e+02, 2.91003e+03, 1.43178e+03, 1.51781e+03,
        4.46940e+02, 4.01450e+02, 3.81775e+03, 2.00000e+01, 1.00000e+00,
        1.79300e+03],
       [1.52100e+03, 1.05000e+02, 7.30170e+02, 1.76610e+02, 5.59490e+02,
        2.53740e+02, 2.10810e+02, 1.20171e+03, 5.10000e+01, 1.00000e+00,
        2.01300e+03],
       [9.60000e+02, 1.06000e+02, 5.97340e+02, 2.80850e+02, 3.19190e+02,
        1.57300e+02, 8.97900e+01, 8.48440e+02, 4.10000e+01, 0.00000e+00,
        1.55000e+03],
       [9.69000e+02, 9.70000e+01, 5.46620e+02, 2.79800e+02, 2.67730e+02,
        6.42900e+01, 8.18000e+01, 6.96030e+02, 5.40000e+01, 0.00000e+00,
        1.41500e+03],
       [1.04700e+03, 4.20000e+01, 1.04494e+03, 3.70370e+02, 6.32410e+02,
        1.88100e+02, 1.04430e+02, 1.34721e+03, 3.40000e+01, 0.00000e+00,
        7.81000e+02],
       [9.53000e+02, 1.23300e+03, 1.19283e+03, 8.08000e+02, 2.93000e+02,
        1.69090e+02, 7.10800e+01, 1.43701e+03, 3.40000e+01, 1.00000e+00,
        5.02200e+03],
       [1.30600e+03, 1.14000e+02, 1.29862e+03, 6.47530e+02, 6.08430e+02,
        2.54150e+02, 9.06400e+01, 1.64875e+03, 3.20000e+01, 0.00000e+00,
        1.58900e+03],
       [3.65000e+02, 2.48000e+02, 3.00750e+02, 1.95070e+02, 1.06580e+02,
        1.34200e+01, 5.29100e+01, 3.71300e+02, 4.10000e+01, 1.00000e+00,
        8.66000e+02],
       [1.20200e+03, 2.58000e+02, 5.63250e+02, 2.88730e+02, 2.77590e+02,
        3.06770e+02, 8.14000e+01, 9.62170e+02, 4.30000e+01, 0.00000e+00,
        2.02700e+03],
       [5.23000e+02, 2.28000e+02, 6.69710e+02, 3.39200e+02, 3.30120e+02,
        1.53610e+02, 1.08990e+02, 9.37830e+02, 4.10000e+01, 0.00000e+00,
        1.75900e+03],
       [6.62000e+02, 1.27000e+02, 5.52160e+02, 2.19150e+02, 2.92960e+02,
        5.83600e+01, 5.92200e+01, 6.71750e+02, 5.10000e+01, 1.00000e+00,
        1.35000e+03],
       [1.91900e+03, 1.05000e+02, 1.18733e+03, 6.75030e+02, 4.77040e+02,
        2.25830e+02, 1.00230e+02, 1.54619e+03, 2.60000e+01, 0.00000e+00,
        2.60100e+03],
       [2.08300e+03, 9.50000e+01, 8.90440e+02, 4.03580e+02, 4.34510e+02,
        9.75600e+01, 1.93220e+02, 1.18170e+03, 4.10000e+01, 1.00000e+00,
        1.90800e+03],
       [6.26000e+02, 6.80000e+01, 1.77157e+03, 6.66990e+02, 1.11748e+03,
        3.60210e+02, 1.18840e+02, 2.30682e+03, 4.20000e+01, 1.00000e+00,
        1.52100e+03],
       [1.23700e+03, 7.10000e+01, 1.34853e+03, 4.28090e+02, 9.24690e+02,
        1.20020e+02, 4.86700e+01, 1.52478e+03, 5.60000e+01, 0.00000e+00,
        1.34500e+03],
       [6.34000e+02, 1.00200e+03, 1.30000e+03, 5.58000e+02, 7.24000e+02,
        6.70000e+01, 1.05000e+02, 1.48426e+03, 3.40000e+01, 0.00000e+00,
        2.92600e+03],
       [1.12000e+02, 8.84000e+02, 9.42830e+02, 3.78490e+02, 5.67060e+02,
        1.16770e+02, 3.18100e+01, 1.10459e+03, 3.30000e+01, 1.00000e+00,
        2.35200e+03],
       [1.95000e+02, 2.13000e+02, 7.24000e+02, 3.64000e+02, 3.61000e+02,
        1.80000e+01, 1.55000e+02, 8.97000e+02, 1.90000e+01, 1.00000e+00,
        2.44500e+03]])

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)

In [63]:
rf.fit(features,labels)

RandomForestClassifier(n_estimators=1000, random_state=42)

## Parameter tuning using cross-validation

## Load test set

In [25]:
test = pd.read_csv('Data/test.csv')
test.set_index('id', inplace=True)

In [26]:
test.head()

,MO HLADR+ MFI (cells/ul),Neu CD64+MFI (cells/ul),CD3+T (cells/ul),CD8+T (cells/ul),CD4+T (cells/ul),NK (cells/ul),CD19+ (cells/ul),CD45+ (cells/ul),Age,Sex 0M1F,Mono CD64+MFI (cells/ul)
id,,,,,,,,,,,
0,2843.0,156.0,1358.52,730.78,637.85,127.06,94.82,1588.62,45,1,3256.0
1,437.0,137.0,509.43,268.05,243.07,390.86,98.24,1002.76,51,1,491.0
2,826.0,82.0,1232.22,493.42,744.08,516.28,320.15,2200.58,32,0,1381.0
3,861.0,50.0,1512.86,925.51,590.07,380.25,25.80,1929.10,50,0,1377.0
4,1160.0,157.0,890.42,403.91,489.53,266.92,87.63,1251.52,43,0,1844.0

In [27]:
test_features = np.array(test)

In [64]:
pred = rf.predict(test_features)

In [65]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [66]:
#rounded = np.around(pred)

In [67]:
#rounded

In [68]:
predictions = pd.DataFrame(pred)

In [69]:
predictions.index.name = 'id'

In [70]:
predictions.rename({0:'label'}, axis=1, inplace=True)

In [71]:
predictions

    label
id
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      1
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      1
21      1
22      0
23      0
24      0
25      1
26      0
27      0
28      1
29      0
30      1
31      1
32      0
33      1
34      0
35      0
36      0
37      1
38      1
39      0
40      1
41      0
42      0
43      0
44      0
45      0
46      0
47      1
48      0
49      0
50      0
51      0
52      0
53      0
54      0
55      0
56      0
57      0
58      1

In [50]:
#!mkdir Results

In [72]:
predictions.to_csv('Results/submission4.csv')

In [1]:
# use k-fold cross validation to avoid over-fitting
# regularization of features
# try xgboost?